backcall
certifi
Click
colorama
decorator
Flask
itsdangerous
jedi
Jinja2
MarkupSafe
mkl-fft
mkl-random
numpy==1.16.3
pandas
parso
pickleshare
prompt-toolkit
Pygments
python-dateutil
pytz
scikit-learn
scipy
six
traitlets
waitress
wcwidth
Werkzeug
wincertstore
